<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Tests" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Mobile App Login Tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.appium.tests.TestRunner"/>
        </classes>
    </test>
</suite>